@model List<string>
@foreach(var item in Model)
{

    <h1>@item</h1>
}

//Log için model oluşturulup veritabanina yansitalacak
//Component için en çok satilan ilk 10 ürün getirilecek
//Hatalar giderilecek
//MemoryCache gelen ürün listesi için eklenecek
//Oluşan hataların raporları için sentry dahil edilecek
//Api oluşturulması