@* <form asp-action="Login" method="post">
    <input type="text" name="UserName" placeholder="Kullanıcı Adı" />
    <input type="password" name="Password" placeholder="Parola" />
    <input type="submit" value="Giriş" />

</form>
<script src="https://js.sentry-cdn.com/b99a46be7f2b9417c32432d508d72b33.min.js" crossorigin="anonymous">
</script>
<script>
Sentry.init({
 dsn:""
 replaysSessionSampleRate: 1.0,
 replaysOnErrorSampleRate:1.0,
 integrations : [Sentry.replayIntegration()],
});
const replay = Sentry.getReplay();
replay.start();
</script>
 *@

@{
    Layout = null;
}
<link rel="stylesheet" type="text/css" href="~/css/Login.css" />
<script src="~/js/Login.js" defer></script>
<div class="login-img">
    <img src="/img/geldigeliyorlogoo.png" alt="logo">
</div>

<div class="main">
    <input type="checkbox" id="chk" aria-hidden="true">

    <div class="login">
        <form asp-action="Login">
            <label for="chk" id="login-lbl" aria-hidden="true">Giriş Yap</label>
            <input type="text" name="username" placeholder="Kullanici Adi " required>
            <input type="password" name="password" placeholder="Sifre" required>
            <button class="login-btn">Giriş Yap</button>
            <h5>Hala kayıtlı değil misin ?</h5>

        </form>
    </div>


    <!--SEÇİLECEK BUTONLAR BAŞLANGIÇ-->
    <div class="signup">
        <label for="chk" id="register-lbl" aria-hidden="true">Kayıt Ol</label>
        <div class="register-btn">
            <button class="admin-btn" id="adminBtn">Satıcı</button>
            <button class="user-btn" id="userBtn">Müşteri</button>
        </div>
        <!--SEÇİLECEK BUTONLAR SON-->
        <!-- Kullanıcı Formu başlangıç-->
        <div class="user-form" id="userForm" style="display:none;">
            <form asp-action="CustomerRegister" class="user-frm">
                <input type="text" name="CityId" placeholder="Şehir Id" required>
                <input type="text" name="FirstName" placeholder="Müşteri İsmi" required>
                <input type="text" name="LastName" placeholder="Müşteri Soyismi" required>
                <input type="text" name="UserName" placeholder="Kullanıcı Adı" required>
                <input type="email" name="Email"  placeholder="E-Posta" required>
                <input type="tel" name="PhoneNumber" placeholder="Telefon numarası" required>
                <input type="password" name="Password" placeholder="Şifre" required>
                <input type="datetime" name="BirthDate" /><span>DT</span>
                <input type="text" name="Address" placeholder="Adres" />
                <button class="user-frm-btn">Kayıt Ol</button>
            </form>
        </div>
        <!--kullanıcı formu son-->
        <!-- Admin Formu Baş-->
        <div class="admin-form" id="adminForm" style="display:none;">
            <form asp-action="SellerRegister" class="admin-frm">
                <input type="text" placeholder="Satıcı Ad" required>
                <input type="text" placeholder="Satıcı Soyad" required>
                <input type="text" placeholder="Kullanıcı Adı" required>
                <input type="email" placeholder="E-Posta" required>
                <input type="tel" placeholder="Telefon numarası" required>
                <input type="password" placeholder="Şifre" required>

                <button class="admin-frm-btn">Kayıt Ol</button>
            </form>
            <!-- Admin Formu Son -->
        </div>

    </div>
